input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
    }


ul#menul {
    font-size: 18pt;
    text-align: left;
    margin-left: 100px;
}

footer {
    text-align: center;
    position: absolute;
    background-color: rgba(33, 50, 128, 0.9);
    color:white;
    width: 100%;
    padding: -11px;
    margin-top: 150px;
}

body{
    text-align: center;   
}


h1 {
    color: rgb(0, 26, 143);
    font-size: 18pt;
    margin: 20px;
}

p#title {
    color: rgb(0, 26, 143);
    font-size: 19pt;
    font-family: Lucida Handwriting;
    margin: 40px;
    text-align: center;
   
}

#agenda {
    margin-top: 75px;
}

label {
    font-size: 13pt;
    color: rgb(104, 104, 104);
    margin: 5px;

}

#InsertClientes {
    text-align: center;
    background-color: rgb(219, 224, 255);
    padding: 2%;
    margin-top: 50px;
}

#insertAgenda {
    background-color: rgb(219, 224, 255);
}

#campoInsert {
    margin: 3px;
}


div#Data_clientes {
   width: 30%;
   text-align: center;
   border-width: 2px;
  border-style: solid;
  margin-top: -337px;
  
}

div#consulta_clientes {
    width: 30%;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    margin-top: -60px;
    margin-left: 360px;
}

div#horario_clientes {
    width: 30%;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    margin-top: -60px;
    margin-left: 360px;
}

nav#menu {
    background-color:rgba(33, 50, 128, 0.9);
}

