input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
    }


div#horarios {
    text-align: left;
}


ul#menul {
    font-size: 18pt;
    text-align: left;
    margin-left: 200px;
}

div#princip {
    
    padding: 90px;
    background-color: white;
   
}

footer {
    text-align: center;
    position: absolute;
    background-color: rgba(87, 0, 0, 0.9);
    color:white;
    width: 100%;
    padding: 1px;
}

body{
    text-align: center;   
}


h1 {
    color: rgb(88, 2, 2);
    font-family: "URW Chancery L, cursive";
}

div#Data_clientes {
   width: 30%;
   text-align: center;
   border-width: 2px;
  border-style: solid;
  margin-top: -337px;
  
}

div#consulta_clientes {
    width: 30%;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    margin-top: -60px;
    margin-left: 360px;
}

div#horario_clientes {
    width: 30%;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    margin-top: -60px;
    margin-left: 360px;
}

nav#menu {
    background-color:rgba(87, 0, 0, 0.9);
}

