<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema de Agendamento</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/stilo.css">
<link rel="sortcut icon" href="img/logo-site" type="image/png"/>

</head>
<body>

    <div class="container" id="princip">
<div class="container" style="margin: 25px; margin-left: -90px;">
    <header>
        <hgroup id="texth">
            <h1>Sistema de Agendamento</h1>
            <p>Exclusivo para lash designer's </p>
            <img src="img/Michele-logo.png" class="rounded float-left" style="margin-left: 200px; margin-top: -115px; position:absolute">
        </hgroup>
    </header>
</div>

    {{{body}}}

    <script src="/js/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</div>            
                <footer>
                    <p>&copy; Michele Moreira</p>
                    <p>Desenvolvido por &copy;Cílios de uma Diva </p>
                </footer>

</body>
</html>