<div class="container" style="width: 50%;">

<form action="/cadastrar" method="POST"  style="text-align: left;">

    <label>Nome </label>
    <input type="nome" id="nome" name="nome" class="form-control" placeholder="Digite um unico nome*" required><br><br>

    <label>Defina uma Senha </label>
    <input type="text" id="senha" name="senha" class="form-control" required><br><br>
    
    <button type="submit" class="btn" style="background-color: rgb(126, 9, 9); color: white" > Criar </button>

</form>

        <a href="login" style="margin-left: 300px"><button class="btn" style="color: rgb(126, 9, 9);"> Voltar </button></a> 
</div>