 <nav id="menu" class="fixed-top">        
        <ul class="nav mb-0" id="menul">
          <li class="nav-item"><a style="color: white;"  class="nav-link" href="/clientes"> Clientes </a></li>
          <li class="nav-item"><a style="color: white; margin-left: 500px;"  class="nav-link" href="/sair"> Sair</a></li>
        </ul>
 </nav>


<div class="card-deck" style="width: 85%; margin: 65px; margin-top: 55px">

    <div class="card">
        <div class="card-body">
            <h1 style="margin: 20px;"> Inserir Clientes </h1>
            <form action="/criar" method="POST">
     <label>Data</label>
     <input type="date" id="data" name="data" class="form-control" autocomplete="off" required><br>
     <label>Horario</label>
     <input type="time" id="horario" name="horario" class="form-control" autocomplete="off" required><br> 
     <label>Cliente </label>
     <input type="text" id="cliente" name="cliente" class="form-control" autocomplete="off" min="5" required><br>
     <labe>Procedimento</labe>
     <select class="form-control" id="procedimento" name="procedimento" required>
      <option>Fio a fio</option>
      <option>Volume Russo</option>
      <option>Volume leve</option>
      <option>Mega volume </option>
      <option>Volume brasileiro</option>
      <option>Volume 2 D</option>
    </select>

     <button type="submit" class="btn" style="background-color: rgb(126, 9, 9); color: white; margin:10px" > Criar </button>
            </form>
        </div>
    </div>



    <div class="card">
        <div class="card-body">
    
    <h1 style="margin: 20px;"> Consultar Agenda </h1>
        <form action="/listar" method="POST" >
    <label>De: </label>
        <input type="date" id="filtro1" name="filtro1" class="form-control"><br>
    <label>Até: </label>
        <input type="date" id="filtro1" name="filtro2" class="form-control"><br>
    <button type="submit" class="btn" style="background-color: rgb(126, 9, 9); color: white; margin:10px" > Pesquisar </button>
        </form>
    
        </div>
    </div>

</div>





