<div class="container" style="width: 50%;">

<form action="/logar" method="POST"  style="text-align: left;">

    <label>Usuario </label>
    <input type="text" id="nome" autocomplete="off" name="nome" class="form-control" placeholder="Digite seu usuario *"><br><br>

    <label>Senha </label>
    <input type="password" id="senha" name="senha" class="form-control" placeholder="******"><br><br>
    
    <button type="submit" class="btn" style="background-color: rgb(126, 9, 9); color: white;" >Entrar</button>

</form>                  
 
    
        
</div>

                   
